<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Admin Dashboard</title>

<style>
.doctors--area{
      height: 440px;
      overflow-y: scroll;
      overflow-x: hidden;
    }

    .not--found--area .img--box{
        height: 350px;
        width: 100%;
        position: relative;
    }
    .not--found--area .img--box img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .main--area .card{
        border-radius: 12px;
        background-color: #070F2B;
        border: none;
    }
    .main--area .card .img--box{
      width: 100%;
      height: 270px;
      overflow: hidden;
    }

    .card .img--box img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
</style>
</head>
<body>
    <h5 class="text-center fs-4 pb-2">Available Doctors</h5> 
     <!--making a doctor profile button  -->
     <div class=" d-flex justify-content-end pb-4 pb-lg-3" title="Add a Doctor">
        <a href="/create/doctor/profile" class=" text-white px-5 py-2 fs-5 text-decoration-none bg-primary rounded-pill d-flex align-items-center">
          <span class="d-none d-lg-block">Add Doctor Profile</span>
        <i class="fa fa-plus ms-lg-1"></i>
     </a>
     </div>
   
    <!-- Designing the doctor page -->
    <% if(doctors.length  > 0 ){ %>
      <div class="doctors--area">
      <div class="row g-4">
      <% doctors.map((doctor)=> { %> 
          <div class="col-md-6 col-lg-4">
            <div class="card">
              <div class="img--box">
                <img src="/uploads/<%= doctor.Image %>" alt="doctor Image">
              </div>
            <div class="doctor--info mb-3 p-2 text-white text-center">
              <h5 class="fs-5 mb-2"><%= doctor.Name %></h5>
              <p class="text-white-50 mb-1">Department : <%= doctor.Department %></p>
              <p class="text-white-50 mb-3">
                Visiting Days : <%= doctor.Date1 %> & <%= doctor.Date2 %>
              </p>
              <a href="/doctor/profile" class="text-decoration-none text-white px-5 py-2 bg-primary rounded-pill">View Profile</a>
            </div>
            </div>
          </div>

    <%  }) %>     
       <!-- row -->
      </div>
     </div>
  <% } else { %>
      <div class="not--found--area">
        <h5 class="fs-2 text-center fw-bold mb-3 text-secondary">No Doctors Available!</h5>
        <div class="img--box">
          <img src="/imgs/notFound.jpg" alt="" class="">
        </div>
      </div>
    <% } %>


</body>
</html>