<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>DOCTOR DASHBOARD | Appointment Panel</title>
</head>
<body>
    
  <%- include('../partials/appHeader') %>

    <h5 class="mb-4 text-center text-secondary">All Your Appointments</h5>
  <table class="table table-primary table-striped table-hover">
    <thead class="text-center">
        <tr>
          <th scope="col">PatientName</th>
          <th scope="col">Mobile</th>
          <th scope="col">Appointment Date</th>
          <th scope="col">Appointment Time</th>
          <th scope="col">Payment</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <% appointments.map((appointment)=>{ %> 
        <% if(appointment.Appointment_Status == "confirmed" || appointment.Appointment_Status == "approved" ) { %>
           <% if(appointment.Appointment_User_Chosen_Doctor === data.id) { %>
            <tbody class="text-center">
                <tr>
                <td><%= appointment.Appointment_User_Name %></td>
                <td><%= appointment.Appointment_User_Phone %></td>
                <td><%= helper.formatDate(appointment.Appointment_User_Book_Date, "DD-MM-YYYY") %></td>
                <td><%= appointment.Appointment_User_Book_Time%></td>
                  <% if(appointment.Payment == 'pay') {%>
                    <td>Not yet done</td>
                  <% } else { %> 
                    <td>Done</td>  
                  <% } %>
                 <% if(new Date(appointment.Appointment_User_Book_Date).getDate() < new Date().getDate()) { %>
                 <td>
                  expired
                 </td>
                 
                  <td>
                    <a href="/user/appointment/cancel/<%= appointment.id %>" 
                        class="text-decoration-none px-4 py-1 bg-danger text-white">
                            Cancel   
                    </a> 
                  </td>
                 
                  <% }else{  %>
                    <td>
                      Not Visited
                     </td>
                     
                    <td>
                      <a href="#" 
                          class="text-decoration-none px-4 py-1 bg-warning text-black">
                              Reschedule    
                      </a> 
                    </td>
                  <% } %>
                </tr>
                </tbody>         
                <% }} %>
                    
                <% }) %>  
  </table>
    
</body>
</html>

