<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>DOCTOR DASHBOARD | DOCTOR PANEL</title>
</head>
<body>
    <div class="row align-items-center mb-4">
        <div class="col-lg-7">
          <div class="p-4 bg-secondary text-white rounded">
            <div class="pb-3">
              <h5 class="text-white-50 mb-2">Welcome!</h5>
              <h5 class="fs-3 mb-2">Dr. <%= data.Name %></h5>
              <p class=" mb-3">
                We're delighted to have you here.
               Your dedicated dashboard is ready to assist you in managing patient care efficiently.
                Your commitment to healthcare excellence is greatly valued.</p>
              <a href="/doctor/accounts/<%=data.id%>"
               class="px-5 py-2 bg-primary text-white text-decoration-none" style="border-radius: 100px;">
                View My Account
              </a>
            </div> 
          </div>
        </div>
        
        <div class="col-lg-5 d-none d-lg-block p-0">
          <div class="img--box">
            <img src="/imgs/doctorDash.png" alt="doctor" class="img-fluid">
          </div>
        </div>

      </div> 
      <!-- first row is done! -->

      <div class="row pb-3">
        <div class="col-lg-6">
          <h5 class="text-secondary mb-3">Status</h5>
          <div class="row gx-2">
            <div class="col-sm-6">
              <div class="card bg-light text-primary">
                <div class="card-body d-flex align-items-center justify-content-between ">
                  <div class="card--text">
                    <h5 class="fs-2"><%= doctors.length %></h5>
                    <p class="fs-5 mb-2 text-black-50">All Doctors</p>
                  </div>
                  <div class="bg-light">
                    <i class="fa fa-user-doctor fs-2"></i>
                  </div>
                </div>
              </div> 
            </div>

            <div class="col-sm-6">
              <div class="card bg-light text-primary">
                <div class="card-body d-flex align-items-center justify-content-between ">
                  <div class="card--text">
                    <h5 class="fs-2"><%= patientData.length %></h5>
                    <p class="fs-5 mb-2 text-black-50">All Patients</p>
                  </div>
                  <div class="bg-light">
                    <i class="fa fa-wheelchair-move fs-2"></i>
                  </div>
                </div>
              </div> 
            </div>

            <div class="col-sm-6">
              <div class="card bg-light text-primary">
                <div class="card-body d-flex align-items-center justify-content-between ">
                  <div class="card--text">
                    <h5 class="fs-2">0</h5>
                    <p class="fs-5 mb-2 text-black-50">New Bookings</p>
                  </div>
                  <div class="bg-light">
                    <i class="fa fa-receipt fs-2"></i>
                  </div>
                </div>
              </div> 
            </div>

            <div class="col-sm-6">
              <div class="card bg-light text-primary">
                <div class="card-body d-flex align-items-center justify-content-between ">
                  <div class="card--text">
                    <h5 class="fs-2"><%= appointments.length %></h5>
                    <p class="fs-5 mb-2 text-black-50">All Appointments</p>
                  </div>
                  <div class="">
                    <i class="fa fa-bookmark fs-2"></i>
                  </div>
                </div>
              </div> 
            </div>

          </div>
        </div>

        <!-- first col -->

        <div class="col-lg-6">
          <h5 class="text-secondary mb-3">
            Your upcoming appointments until next week!
          </h5>
            <table class="table table-striped border">
                <thead>
                  <tr>
                    <th scope="col">PatientName</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                  </tr>
                </thead>
            <% appointments.map((app)=>{ %>
              <% if(app.Appointment_User_Chosen_Doctor == data.id) { %>
                <% if (app.Appointment_Status === 'confirmed') { %>
                 <!--if the date falls within this current week  -->
                <% if(helper.AppointmentChecker(helper.formatDate(app.Appointment_User_Book_Date, "YYYY-MM-DD"))) {%>
                  <!-- if booked date is not expired! -->
                  <% if(new Date(helper.formatDate(app.Appointment_User_Book_Date, "YYYY-MM-DD")) > new Date()) { %>
                <tbody>
                  <tr>
                    <td><%= app.Appointment_User_Name %></td>
                    <td><%= helper.formatDate(app.Appointment_User_Book_Date, "DD-MM-YYYY")%></td>
                    <td><%= app.Appointment_User_Book_Time %></td>
                  </tr>         
                </tbody>
            <% }}}} %>
         <% }) %>
         </table> 
        </div>
      </div> 

</body>
</html>