
<!-- PasswordUpdateModal -->
<div class="modal fade" id="PasswordUpdateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body rounded">
            <div class="d-flex justify-content-end">
                <button type="button" 
                class="btn-close" 
                data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
          <h5 class="text-center mb-4 text-secondary">You Can Update Your Password Once!</h5>
          <div id="msg" class="text-danger mb-1 text-center"></div>
          <form action="/doctor/pass/update/<%=data.id%>" method="post" name="passUpdateForm">
            <div 
            class="form-group mb-2 d-flex align-items-center border rounded px-3">
                <input type="password"
                    class="form-control shadow-none outline-none border-0"
                    placeholder="Type your old Password..."
                    name="oldPass"
                    id="oldPass"
                >
            <i class="far fa-eye" id="togglePasswordForOld"></i>
            </div>
            <div class="form-group mb-2 d-flex align-items-center border rounded px-3">
                <input type="password"
                    class="form-control shadow-none outline-none border-0"
                    placeholder="Set a New Password..."
                    name="newPass"
                    id="newPass"
                >
                <i class="far fa-eye" id="togglePasswordForNew"></i>
            </div>
            <div class="form-group mb-4 d-flex align-items-center border rounded px-3">
                <input type="password"
                    class="form-control shadow-none outline-none border-0"
                    placeholder="Confirm Your Password..."
                    name="confirmPass"
                    id="confirmPass"
                >
                <i class="far fa-eye" id="togglePasswordForConfirm"></i>
            </div>

          <div class="d-flex justify-content-center mb-2">
            <button type="submit" class="px-5 py-2 bg-primary text-white border-0 rounded" id="updateBtn">
                Update Password
            </button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>





        <h5 class="text-secondary text-center mb-4">Your Profile Data</h5>
        <div class="row g-4 align-items-center">
            <div class="col-md-6">
                <div class="img--box">
                    <img src="/uploads/<%=data.Image%>" alt="" class="img-thumbnail">
                </div>
            </div>

            <div class="col-md-6">
                <div class="profile--area">
                    <h5 class="text-black-50 mb-2 fs-1 fst-italic"><%= data.Name %></h5>
                    <p class="mb-2 text-secondary">UserName: <%=data.userName %></p>
                    <p class="mb-2 text-secondary">Password:
                        
                        <%= passUpdated ? "*****" : data.Password %>
                        
                        <% if(passUpdated) { %>
                        <a href="#" 
                            style="cursor: not-allowed; font-size: 14px;" 
                            class="text-secondary">
                            update password
                        </a>
                        <% }else{ %>
                        <a href="#"
                            data-bs-toggle="modal" 
                            data-bs-target="#PasswordUpdateModal"
                            class="ms-1" title="update Password"
                            style="font-size: 14px;"
                        >
                            update password
                        </a>
                       <% } %>
                
                    </p>
                    <h5 class=" mb-2">Your Email:- <%= data.Email %></h5>
                    <h5 class="mb-1">Your Phone:- <%= data.Phone %></h5>
                    <p class="text-secondary mb-3">Department : <%= data.Department %></p>
                    <a href="/doctor/dashboard/<%=data.id%>"
                    class="text-decoration-none bg-primary text-white rounded px-5 py-2">Back</a>
                </div>
            </div>
        </div>

        <script>
            const oldPass = document.getElementById('oldPass');
            const newPass = document.getElementById('newPass');
            const confirmPass = document.getElementById('confirmPass');


            // password view function...
            const toggleForOld = document.getElementById('togglePasswordForOld');
            const toggleForNew = document.getElementById('togglePasswordForNew');
            const toggleForConfirm = document.getElementById('togglePasswordForConfirm');

                function checkPass(pass, icon){
                    const type = pass.getAttribute('type') === 'password' ? 'text' : 'password';
                    pass.setAttribute('type', type);
                    // toggle the eye slash icon
                    if (icon.classList.contains('fa-eye')) {
                        icon.classList.remove('fa-eye');
                        icon.classList.add('fa-eye-slash');
                    } else {
                        icon.classList.remove('fa-eye-slash');
                        icon.classList.add('fa-eye');
                    }
                }


            toggleForOld.addEventListener('click', ()=>{
                checkPass(oldPass, toggleForOld)
            });

            toggleForNew.addEventListener('click', ()=>{
                checkPass(newPass, toggleForNew)
            });

            toggleForConfirm.addEventListener('click', ()=>{
                checkPass(confirmPass, toggleForConfirm)
            });

    
     document.forms["passUpdateForm"].addEventListener("submit", (event) => {
        event.preventDefault();

        if(newPass.value !== confirmPass.value){
                    document.querySelector('#msg').innerHTML = "Confirm Password Not Matched!";
                    return false;

                }else{
                    document.forms["passUpdateForm"].submit();
                }
        
      });

        </script>