<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Appointment Page | Appointment Request</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
      integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap-timepicker@0.5.2/css/bootstrap-timepicker.min.css" rel="stylesheet">

    <style rel="stylesheet">

      body {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background: #f4f7f6;
        margin: 0;
        padding: 0;

      }
      .title{
        color: #0C359E;
        text-align: center;
        font-size: 28px;
      }
      .appointment--area{
        background: #fff;
        margin-top: 30px;
        padding: 1rem 24px 1.2rem 24px;
        border: 1px solid #0C359E;
        border-radius: 6px;
      }

      form .form-control:focus{
        outline: none;
        box-shadow: none;
      }


      form .appointment--btn{
        border-radius: 200px;
        background: #0C359E;
        color: #ffff;
        border: none;
      }

      .msg-for-number,
      .msg-for-pass{
        color: red;
        font-size: 16px;
      }

      select option{
        font-size: medium;
        font-weight: 500;
      }



      
    </style>
  </head>
  <body>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
        <div class="appointment--area">
        <h5 class="title">Get An Appointment!</h5>
        <form action="/patient/appointment/save" method="post" name="appointmentForm">
          <div class="form-group mb-2">
            <label for="username">Your Name</label>
            <input
              type="text"
              class="form-control"
              id="patientName"
              name="patientName"
              placeholder="Enter Your Name"
              required
            />
          </div>
        
          <div class="form-group mb-2">
            <label for="email">Your Email</label>
            <input
              type="email"
              class="form-control"
              id="patientEmail"
              name="patientEmail"
              placeholder="Enter Your Email"
              required
            />
          </div>

          <div class="form-group mb-2">
            <label for="userbirth">Date Of Birth</label>
            <input
              type="date"
              class="form-control"
              id="patientDob"
              name="patientDob"
              required
              onchange="calculateAge()"
            />
          </div>

          <div class="form-group mb-2">
            <label for="phoneNumber">Phone Number</label>
            <input
              type="text"
              class="form-control"
              id="number"
              name="phone"
              placeholder="Enter Mobile Number"
              required
            />
        <span class="msg-for-number"></span>
        </div>

      
         <div class="form-group mb-2">
        <label for="doctors">Choose Your Doctor</label>
        <select name="doctor" id="doctors" class="form-control" required>
        <option value="" selected disabled>Appointment With Your Preferred Doctor</option>
          <% doctors.map((doctor)=> { %>
            <% if(appointments.length == 0) {%>
              <option value="<%=doctor.id%>"><%= doctor.Name %> 
              </option> 
            <% } %>
            <% appointments.map(app => { %>
          <!-- if we have an appointment, then check if the date is not expired! -->
           <% if(new Date(helper.formatDate(app.Appointment_User_Book_Date, "YYYY-MM-DD")) > new Date()) {%>
            <% if(app.Appointment_User_Chosen_Doctor === doctor.id) { %>
                <option value="<%=doctor.id%>"
                 disabled 
                 title="You already have an appointment with the doctor"><%= doctor.Name %> 
                </option> 
              <% }} else { %>
                <option value="<%=doctor.id%>"><%= doctor.Name %> 
                 </option> 
               <% }}) %>
            <optgroup label="doctor-info">
              <option disabled>[<%=doctor.Speciality %>]</option>
              <option disabled>Available On [<%= doctor.Date1 %> , <%= doctor.Date2 %>]</option>
              <option disabled>From <%= doctor.DoctorHours1 %> - <%= doctor.DoctorHours2 %></option>
              <option disabled>Session Fee &#8377; <%= doctor.DoctorFee %></option>
            </optgroup>
          </option>
        <hr />
        <% }) %>
        </select>
    </div>

    <div class="form-group mb-2">
      <label for="date">Book Your date
      </label>
       <input
        type="date"
        class="form-control"
        id="date"
        name="date"
        required
      />
      <span id="error-msg-for-booking"></span>
    </div>

    <div class="form-group mb-2">
      <label for="date">What's Your Preferred Time
      </label>
       <input
        type="text"
        class="form-control"
        id="timepicker"
        name="time"
        required
      />
    </div>

          <div class="form-group mb-3">
            <label for="address">Describe Your Health Issue</label>  
            <textarea name="health"
             id="health" rows="2"
            class="form-control" required>
            </textarea>
          </div>
          <div class=" d-block d-lg-flex justify-content-around gap-4">
            <button type="button" class="px-5 py-2 appointment--btn form-control bg-secondary mb-3 mb-lg-0"
              onclick="history.back()"
            >Back</button>
            <button type="submit" class="px-5 py-2 appointment--btn form-control"
            id="signup">Make Appointment</button>
          </div>
        </form>
      </div>  
       </div>
      </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" 
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  
    <script src="/js/appoint.js">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap-timepicker@0.5.2/js/bootstrap-timepicker.min.js"></script>
  <script>

      $('#timepicker').timepicker({
        timeFormat: 'hh:mm a',
        interval: 15,
        defaultTime: 'current',
        dynamic: true,
        dropdown: true,
        scrollbar: true
    });

    </script>

  </body>
</html>