    <div class="d-flex justify-content-end pb-5">
        <a href="/patient/appointment/create" 
            class="px-5 py-2 bg-primary text-white text-decoration-none d-flex align-items-center rounded">
           <i class="fa fa-plus fs-5 me-1 d-none d-lg-block"></i>
            New Appointment
        </a>
    </div>
    <div>
        <% if(appointments.length > 0) { %>
        <table class="table table-striped table-hover table-info border border-primary">
            <thead class="border-0 border-bottom-1 border-primary text-center fw-semibold fs-5">
                <tr>
                    <td class="col">Doctor</td>
                    <td class="col">Date</td>
                    <td class="col">Status</td>
                    <td class="col">Payment</td>
                    <td class="col">Action</td>
                </tr>
            </thead>
            <!-- show appointments only with doctors -->
    <% appointments.map(app => { %>
        <% doctors.map(doctor => { %>
            <% if(doctor.id === app.Appointment_User_Chosen_Doctor) { %> 
                 <tbody  class="text-center">
                    <tr>
                        <td> <%= doctor.Name %></td>
                        <td> <%= helper.formatDate(app.Appointment_User_Book_Date , 'DD-MM-YYYY') %></td>
                        <% if(app.Appointment_Status === "confirmed" && app.Payment === 'done') { %>
                        <td>
                            <div class="px-3 py-1 text-white bg-warning rounded ">
                                <%= app.Appointment_Status %>
                            </div>
                        </td>
                        <% } else { %>
                            <td>
                                <div class="px-3 py-1 text-white bg-success rounded">
                                    <%= app.Appointment_Status %>
                                </div>
                            </td>
                        <% } %>
                            <% if(app.Payment === 'pay') {%>
                                <td>
                                    <a href=""
                                        class="px-3 py-1 text-decoration-none bg-primary text-white rounded">
                                        &#8377; Pay Now
                                    </a> 
                                </td>
                            <% }else {%>
                                <td>
                                    <div class="px-3 py-1 text-white bg-success rounded">
                                        <%= app.Payment %>
                                    </div>
                                </td>  
                            <%} %>
                        <td>
                            <% if(new Date(helper.formatDate(app.Appointment_User_Book_Date, "YYYY-MM-DD")) > new Date()) { %>
                                <a href="/patient/appointment/cancel/<%=app.id%>"
                                    class="px-3 py-1 text-decoration-none bg-danger text-white rounded">
                                    Cancel
                                </a>
                            <% }else{ %>
                                <div class="px-3 py-1 text-dark bg-secondary rounded">
                                    Rejected
                                </div>  
                          <%  } %>
                        </td>
                        
                    </tr>
                </tbody>
            <% }})}) %>
         </table>
    <% }else{ %>
        <h5 class="mb-5 text-center text-secondary fs-4">No Data Available</h5>
        <div class="img--box ">
            <img src="/imgs/error.png" alt="" class="d-block m-auto" width="400px">
        </div>
    <% } %>
    </div>
 